@media (min-width: 64em) and (max-width: 77.4375em) {
  body {
    width: 984px;
  }
}

@media (max-width: 63.9375em) {
  html {
    font-size: 56.25%;
  }

  .row {
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
  }

  .nav {
    display: inline-block;
  }

  .nav .nav__right {
    display: none;
  }

  .nav__logo {
    position: fixed;
    top: 3.2rem;
    left: 3.2rem;
    z-index: 1;
  }

  .app-nav,
  .nav__icons,
  .app-btn__text {
    display: flex;
  }

  .container,
  .testimonials {
    padding: 0 1.6rem;
  }

  .container__content,
  .container__img img {
    padding: 0 !important;
  }

  .explore__form {
    text-align: center;
  }

  .explore__form .form__select-wrapper {
    margin-right: 0;
    max-width: 35rem;
  }

  .explore__form .form__title {
    text-align: start;
  }

  .explore__form .form__control {
    background-color: transparent;
  }

  .picture-item {
    margin-bottom: 3.2rem;
    height: 36.2rem;
  }

  .picture-item--max {
    margin-top: 3.2rem;
    height: 50rem;
  }

  .footer {
    display: flex;
    flex-direction: column !important;
  }

  .footer .footer__category,
  .footer .footer__logo .text {
    text-align: center;
  }

  .footer .footer__logo {
    padding-right: 0;
  }

  .footer .footer__item:first-child {
    margin-top: 6.2rem;
  }

  .btn {
    margin-bottom: 3.2rem;
  }

  .heding {
    padding-bottom: 1.6rem;
  }

  .card {
    margin-bottom: 2.2rem;
  }
}