:root {
  --white-color: #FFFFFF;
  --gray-color: #F9F9FB;
  --menu-color: #B8BECD;
  --black-light-color: #848484;
  --black-medium-color: #202336;
  --black-dark-color: #333333;
  --orange-color: #FB8F1D;
  --yellow-color: #FFBB0C;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row-reverse {
  flex-direction: row-reverse;
}

.btn {
  padding: 1.4rem 4.6rem;
  border-radius: 0.8rem;
  text-decoration: none;
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 500;
  border: 1px solid transparent;
  outline: none;
  transition: all 0.3s;
  cursor: pointer;
}

.btn--orange {
  color: #fff;
  background-color: var(--orange-color);
  transition: all 0.3s;
}

.btn--orange:hover {
  transform: translateY(-3px);
  color: var(--orange-color);
  border-color: var(--orange-color);
  box-shadow: 2px 2px rgba(251, 144, 29, 0.4);
  background-color: var(--white-color);
}

.btn--orange:active {
  box-shadow: 0 1px rgba(251, 144, 29, 0.4);
  transform: translateY(0);
}

.btn-text {
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 500;
  border: none;
  outline: none;
  position: relative;
  transition: all 0.3s;
  cursor: pointer;
}

.btn-text::after {
  position: absolute;
  bottom: -0.2rem;
  left: 0;
  content: '';
  width: 0;
  height: 0.18rem;
  border-radius: 100px;
  background-color: var(--orange-color);
  transition: all 0.3s;
}

.btn-text:hover::after {
  width: calc(100%);
}

.btn-text__icon.btn-text:hover::after {
  width: calc(100% + 1.2rem);
}

.btn-text--orange {
  color: var(--orange-color);
  background-color: transparent;
}

.app-btn__text {
  display: none;
}

.btn-icon {
  position: absolute;
  top: 50%;
  right: -1.2rem;
  transform: translateY(-50%);
  font-size: 0.9rem;
}

.heading {
  margin-bottom: 2rem;
  line-height: 1.4;
}

.text {
  margin-bottom: 3.3rem;
  font-weight: 300;
  text-align: justify;
  color: #7D7987;
  line-height: 1.4;
}

.text-bold {
  color: var(--black-dark-color);
  font-family: 'Mulish', sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2;
}

.heading-second {
  color: var(--black-medium-color);
}

.text-second {
  margin: 0;
  padding-top: 0.8rem;
}

.heading-second--max {
  margin-top: 4rem;
  margin-bottom: 1.6rem;
  font-size: 2.2rem;
}

.text-second--max {
  font-size: 1.8rem;
}

.flex-1 {
  flex: 1;
}

.flex-1-5 {
  flex: 1.5;
}

.float-right {
  float: right;
  clear: both;
}

.mb-43 {
  margin-bottom: 4.3rem;
}

.pt-22 {
  padding-top: 2.2rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;

}

body {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  font-size: 1.6rem;
  box-sizing: border-box;
  color: var(--black-medium-color);
  background-color: var(--white-color);
  font-size: 1.6rem;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  line-height: 1.6rem;
}

h1,
h2,
h3 {
  font-size: 700;
  font-family: 'Playfair Display', serif;
  line-height: 1.2;
}

h2 {
  font-size: 6.4rem;
}

h3 {
  font-size: 3.6rem;
}

.card,
input,
textarea,
.nav__icons,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Header */
.header {
  margin-top: 3.5rem;
}

/* Navbar */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .nav__right {
  display: flex;
  align-items: center;
}

.nav__right .nav__menu {
  display: flex;
  list-style: none;
}

.nav__menu .menu__item {
  transition: all 0.3s;
}

.nav__menu .menu__item:hover {
  transform: translateY(-3px);
}

.nav__menu .menu__link {
  display: inline-block;
  margin-right: 3.5rem;
  color: var(--menu-color);
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s;
}

.nav__menu .menu__link:hover {
  transform: translateY(-3px);
  color: var(--black-medium-color);
}

.nav__menu .menu__link:active {
  transform: translateY(0px);
}

.nav__btn {
  display: flex;
}

.nav__btn .btn-login {
  margin-right: 1.8rem;
}

/* Explore */
.explore {
  margin-top: 8rem;
}

.container .container__content {
  flex: 1;
}

.container .container__img {
  flex: 3;
  width: 100%;
  max-width: 68.7rem;
}

.container .container__img img {
  width: 100%;
}

.explore__form .form__title {
  margin: 7.4rem 0;
  font-size: 2.2rem;
  font-weight: 600;
  position: relative;
}

.explore__form .form__title::after {
  position: absolute;
  top: 4.2rem;
  left: 0;
  content: '';
  display: block;
  width: 3.2rem;
  height: 0.3rem;
  border-radius: 100px;
  background-color: var(--black-medium-color);
}

.explore__form .form__control {
  width: 100%;
  padding: 1.6rem 2.2rem;
  /* outline: 1px solid var(--menu-color);
  border-right: 16px solid;
  border-color: transparent; */
  border: 1px solid var(--menu-color);
  border-radius: 0.6rem;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s;
}

.explore__form .form__control:focus {
  border-color: var(--orange-color);
  box-shadow: rgba(251, 144, 29, 1) 1.5px 1.5px, rgba(251, 144, 29, 0.8) 3px 3px;
}

.explore__form .form__select-wrapper {
  margin-right: 3.5rem;
  margin-bottom: 3.5rem;
  width: 100%;
  max-width: 22rem;
  position: relative;
}

.explore__form .form__select-wrapper::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f078";
  font-size: 1rem;
  top: 50%;
  right: 2.2rem;
  transform: translateY(-50%);
  position: absolute;
}

.the-world {
  margin: 27rem 0;
}

.the-world .container__content {
  padding-left: 5.2rem;
}

.img__world {
  padding-right: 10.2rem;
}

.destinations__group {
  margin-top: 5.6rem;
}

.picture-item {
  width: 100%;
  max-width: 26rem;
  height: 32.2rem;
  border-radius: 0.8rem;
  overflow: hidden;
  position: relative;
  transition: all 0.5s !important;
}

.picture-item:hover {
  box-shadow: rgba(35, 200, 134, 0.3) 3px -3px, rgba(35, 200, 134, 0.1) 6px -6px;
  transform: translateY(-3px);
}


.picture-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s;
}

.picture-item:hover img {
  transform: scale(1.5);
}

.text__box {
  padding-top: 1.6rem;
  padding-right: 2.2rem;
  border-top-right-radius: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #fff;
  transition: all 0.5s;
}

/* .picture-item:hover .text__box {
  width: 100%;
} */

.guides {
  margin: 20rem 0;
}

.guides .container__content {
  padding-right: 5.2rem;
}

.img__guides {
  padding-left: 10.2rem;
}

.picture-item--max {
  max-width: 38.4rem;
  height: 49.1rem;
  border-radius: 1.2rem;
}

.picture-item--max:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 4px -4px, rgba(0, 0, 0, 0.1) 8px -8px;
  transform: translateY(-3px);
}


.icon-stars {
  padding-bottom: 3rem;
  color: var(--yellow-color);
}

.icon-stars .icon-star {
  width: 2.5rem;
}

.text__box--right {
  padding-right: 0;
  padding-left: 2.2rem;
  left: unset;
  right: 0;
  border-top-left-radius: 1.2rem;
  border-top-right-radius: 0;
}

.icon-prev {
  margin-right: 1.2rem;
}

.icon-prev,
.icon-next {
  padding-top: 1.16rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 2px solid var(--black-dark-color);
  color: var(--black-dark-color);
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
}

.icon-prev:hover,
.icon-next:hover {
  border-color: var(--menu-color);
  color: var(--menu-color);
  transform: translateY(-0.3rem);
}

.icon-prev:active,
.icon-next:active {
  transform: translateY(0rem);
}

.stories {
  margin: 25rem 0;
}

.card {
  width: 100%;
  max-width: 26.6rem;
  height: 42rem;
  position: relative;
  cursor: pointer;
}

.card .card__img {
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  overflow: hidden;
}

.card .card__img img {
  width: 100%;
  height: 100%;
  transform: rotate(15deg) scale(1.4);
  transition: all 0.5s;
}

.card .card__img:hover img {
  transform: rotate(0) scale(1);
}

.card .card__body {
  position: absolute;
  bottom: 0;
  background-color: #fff;
}

.card .text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;

}

.footer .footer__category {
  padding-bottom: 7.6rem;
  border-bottom: 1px solid #C4C4C4;
}

.footer .footer__category .row {
  align-items: start;
}

.footer .footer__logo {
  cursor: pointer;
  padding-right: 15rem;
}

.footer .footer__logo img {
  padding-bottom: 2.2rem;
}

.footer .footer__list {
  height: 100%;
  list-style: none;
}


.footer .footer__item {
  margin-bottom: 1.6rem;
  transition: all 0.3s
}

.footer .footer__item:first-child {
  margin-bottom: 4.2rem;
}

.footer .footer__link {
  display: block;
  padding: 0.4rem 1.6rem;
  font-family: "Mulish";
  color: var(--black-light-color);
  font-weight: 300;
  text-decoration: none;
  transition: all 0.3s;
}

.footer .footer__item:first-child .footer__link {
  cursor: text;
  color: var(--black-dark-color);
  font-weight: 700;
  font-size: 1.8rem;
}

.footer .footer__social-media {
  margin: 3.2rem 0;
  text-align: center;
}

.footer .footer__icon-link {
  display: inline-block;
  text-decoration: none;
  color: var(--black-dark-color);
  font-size: 2.2rem;
  transition: all 0.3s;
}

.footer .footer__icon-link:hover i {
  transition: all 0.3s;
}

.footer .footer__link:hover,
.footer .footer__icon-link:hover i {
  text-shadow: 1px 1px rgba(32, 35, 54, 0.4);
  color: var(--orange-color);
  transform: translateY(-3px) scale(1.025) rotate(5deg);
}

.footer .footer__link:active,
.footer .footer__icon-link:active i {
  transform: translateY(0);
}

.footer .footer__icon-link:not(:last-child) {
  margin-right: 3.5rem;
}

/*  */
.app-nav {
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: rgb(35, 200, 134);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 5;
  transition: all 0.5s;
  transform: translateX(-100%);
  opacity: 0;
}

.app-nav.show {
  transform: translateX(0);
  opacity: 1;
}

.app-nav .app-nav__menu {
  width: 100%;
  margin-top: 10.2rem;
  list-style: none;
  text-align: center;
}

.app-nav__menu .menu__link {
  display: block;
  padding: 3.2rem 0;
  font-weight: 700;
  font-size: 2.2rem;
  color: var(--white-color);
  text-decoration: none;
  transition: all 0.3s;
}

.app-nav__menu .menu__link:hover {
  text-shadow: rgba(251, 144, 29, 1) 1.5px 1.5px, rgba(251, 144, 29, 0.8) 3px 3px;
  transform: translateY(-3px) scale(1.025) rotate(5deg);
}

.app-nav__menu .menu__link:active {
  transform: translateY(0);
}

.app-nav .nav__btn {
  margin-top: 3.2rem;
}

.nav__icons {
  display: none;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 8rem;
  cursor: pointer;
  transition: all 0.3s;
  position: fixed;
  top: 1.6rem;
  right: 1.6rem;
  z-index: 6;
}

.nav__icon {
  width: 4.5rem;
  height: 0.6rem;
  background-color: var(--orange-color);
  border-radius: 0.5rem;
  transition: all 0.3s;
  position: relative;
}

.nav__icon::after,
.nav__icon::before {
  position: absolute;
  content: '';
  width: 4.5rem;
  height: 0.6rem;
  background-color: var(--orange-color);
  border-radius: 0.5rem;
  transition: all 0.3s;
}

.nav__icon::before {
  transform: translateY(-1.2rem);
}

.nav__icon::after {
  transform: translateY(1.2rem);
}

.active .nav__icon {
  transform: translateX(-5rem);
  background-color: transparent;
}

.active .nav__icon::before {
  transform: rotate(45deg) translate(3.5rem, -3.5rem);
}

.active .nav__icon::after {
  transform: rotate(-45deg) translate(3.5rem, 3.5rem);
}

section {
  position: relative;
}

.decorate {
  position: absolute;
  z-index: -999;
}

.plus-1 {
  top: 0;
  left: 40%;
}

.plus-2 {
  top: 20rem;
  left: 40%;
}

.plus-3 {
  top: 50%;
  left: 0;
}

.plus-4 {
  bottom: 0;
  left: 50%;
}

.circle-1 {
  top: 50%;
  left: -10rem;
}

.circle-2 {
  width: 1.5rem;
  bottom: -5rem;
  right: 55%;
}

.circle-2 img {
  width: 100%;
}

.circle-3 {
  bottom: 25%;
  right: 10rem;
}


/* width */
::-webkit-scrollbar {
  width: 1rem;
  box-shadow: inset 0 0 3px var(--menu-color);
}

::-webkit-scrollbar-track {
  border-radius: 10rem;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10rem;
  background: rgba(251, 144, 29, 0.6);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(251, 144, 29, 0.8);
}

::-webkit-scrollbar-thumb:active {
  background: rgba(251, 144, 29, 0.6);
}

::selection {
  color: #fff;
  background-color: rgba(35, 200, 134, 0.8);
}